extends layout

append head
  include manage/_manage.pug
  include manage/_edit.pug
  include magane/_render_year.pug
  title manage
  link(rel='stylesheet', href='/stylesheets/manage.css')

append content
  //- header
  section#header.ui.top.fixed.menu.header
    h1#title.title management
    .right.menu
      button#add.ui.blue.right.floated.button.btn.btn-info.btn-lg.add(data-toggle='modal', data-target='#myModal') Add
      button#save.ui.blue.right.floated.button.save Save
      button#logout.ui.blue.right.floated.button.logout Logout

  //- popup addproject
  .ui.container
    form#addForm.ui.form.modal
      h4.header 新增計畫
      .content.field
        label(for='project') 計畫名稱
        input.addForm__project(type='text', placeholder='Enter Project Name', name='project' required)        
        label(for='year') 年份
        input.addForm__year(type='number', min='1900', max='2099', step='1',value='2019', name='year' required)
        label(for='school') 學校
        input.addForm__school(type='text', placeholder='Enter school Name', name='school' required)
        label(for='project') 學校類型
        input.addForm__type(type='text', placeholder='Enter school type', name='type' required)
      .actions          
        button.ui.black.deny.button(type='button') 取消        
        button#add-project.ui.positive.right.lacbeled.icon.button(type='submit') 新增                

  //- content
  //- page select
  #page-select.ui.container.pusher

  //- page management
  #page-management.ui.container.pusher

  //- page edit
  #page-edit.ui.container.pusher.myhide
    +newEdit()

append script
  script(src='/javascripts/manage.js')
