extends layout

append head
  link(rel='stylesheet', href='/stylesheets/login.css')

append content
  h1= title
  //p(class='ui button') Welcome #{title}

  form(method='POST', id='verify')
      p account:
      input(type='text', name='account', class='account', value='')
      p password:
      input(type='text', name='password', class='password', value='')

      input(type = 'submit', value='submit')


append script
  script(src='/javascripts/login.js')