extends layout

append head
  title Login
  link(rel='stylesheet', href='/static/stylesheets/login.css')

append content
  .ui.center.aligned.container
    form#login.ui.form(method='POST')
        h1 LOGIN
        .field
          label.interface account:
          input.account(type='text', name='account', style='width:300px;height:40px;', value='', placeholder="account", minlength="3", maxlength="25")
        .field
          label.interface password:
          #hide.ui.left.pointing.red.basic.label Password Wrong
          input.password(type='password', name='password', style='width:300px;height:40px;', value='', placeholder="password", minlength="6", maxlength="25")
          #wrong.ui.left.pointing.red.basic.label Password Wrong
        button.ui.primary.button(type='submit', style='width:100px;height:40px;') login
        button#signupbutton.ui.button(type='button', style='width:100px;height:40px;') sign up

    form#signup.ui.form(method='POST')
        h1 SIGN UP
        .field
          label.interface account:
          input.account2(type='text', name='account', style='width:300px;height:40px;', value='', placeholder="account", minlength="3", maxlength="25")
        .field
          label.interface password:
          input.password2(type='password', name='password', style='width:300px;height:40px;', value='', placeholder="password", minlength="6", maxlength="25")
        button.ui.secondary.button(type='submit', style='width:100px;height:40px;') Confirm
        button#back.ui.button(type='button', style='width:100px;height:40px;') Back

append script
  script(src='/static/javascripts/login.js')