extends mixins/layout

//- css
append head
  +midLongCss('campus')

//- append buttons in the header
include mixins/_addbutton

append content
  //- pop up deleteproject
  include mixins/_suredelete

  //- popup addproject
  include mixins/_projectcreation.pug

  include mixins/_rendercampus.pug
  //- content
  //- page management
  #page-management.ui.container.pusher
    for val in campuses
      +renderCampus(val)

append script
  +midLongJS('campus')