extends component/layout

//- css
append head
  +midLongCss('campus')

//- append buttons in the header
include mixins/_addButton

append content
  //- pop up deleteproject
  include mixins/_sureDelete

  //- popup addproject
  include mixins/_projectCreation.pug

  include mixins/_renderCampus.pug
  //- content
  //- page management
  #page-management.ui.container.pusher
    for val in campuses
      +renderCampus(val)

append script
  +midLongJS('campus')