extends component/layout

append head
  +midLongCss('editWithFilter')

append content
  include mixins/_sureDelete

  //- content
  //- page edit
  #page-message.ui.container.center.aligned.transition.hidden.save-message
    .ui.floating.message

  #page-filter.ui.container.pusher
    .ui.form.segment.filter
      .four.fields
        include mixins/_filter
        +filter('教學','研究','產學','社會責任','大學治理及公共性')
        .field
          .ui.container.center.aligned.choice-block
            button.ui.button.filter.filter__choice 選擇

  #page-edit.ui.container
    include component/filter

  #footer.ui.container.center.aligned.transition.hidden
    .ui.floating.message.transition.hidden
      p 尚未新增任何資料
    button.add-content.ui.blue.button 新增

append script
  +midLongJS('edit')