extends layout

append head
  include manage/_manage.pug
  include manage/_edit.pug
  include manage/_select.pug
  link(rel='stylesheet', href='/static/stylesheets/manage.css')

append content
  //- header
  section#header.ui.top.fixed.menu.header
    h1#title.title management
    .right.menu
      button#add.ui.blue.right.floated.button.add 新增
      button.add-content.ui.blue.floated.button 新增
      button.save-content.ui.blue.right.floated.button 儲存
      button.back.ui.blue.right.floated.button 返回
      button.logout.ui.blue.right.floated.button 登出

  //- popup addproject
  .ui.container
    form#addForm.ui.form.modal
      h4.header 新增計畫
      .content.field
        label(for='project') 計畫名稱
        input.addForm__project(type='text', placeholder='Enter Project Name', name='project' required)
        label(for='year') 年份
        input.addForm__year(type='number', min='0', max='300', step='1',value='108', name='year' required)
        label(for='school') 學校
        input.addForm__school(type='text', placeholder='Enter school Name', name='school' required)
        label(for='project') 學校類型
        input.addForm__type(type='text', placeholder='Enter school type', name='type' required)
      .actions
        button.ui.black.deny.button(type='button') 取消
        button#add-project.ui.positive.right.lacbeled.icon.button(type='submit') 新增

  //- content
  //- breadcrumb
  .ui.container.pusher
    #breadcrumb.ui.huge.breadcrumb
  //- page select
  #page-select.ui.container
    .select__year
    .select__type
    .select__school

  //- page management
  #page-management.ui.container

  //- page edit
  #page-edit.ui.container

append script
  script(src='/static/javascripts/manage.js')
