extends component/layout

append content
	//- popup advice filter
	.ui.container
		#advice.ui.small.modal
			.ui.form.segment.filter
				.three.fields
				.field
					label 構面
					select.filter.filter__dimension.ui.selection.dropdown
						option(value='教學') 教學
						option(value='研究') 研究
						option(value='產學') 產學
						option(value='社會責任') 社會責任
						option(value='大學治理及公共性') 大學治理及公共性
				.field
					label 推動重點
					select.filter.filter__item.ui.selection.dropdown
				.field
					label 具體作法
					select.filter.filter__detail.ui.selection.dropdown
			.actions
				button.ui.negative.button 取消
				button.ui.positive.button 確認

	//- content
	//- page edit
	#page-message.ui.container.center.aligned.transition.hidden.save-message
		.ui.floating.message

	include component/editNodes/review.pug
	#page-audit.ui.container.pusher
		for val in contents
			+renderReviewNode(val)
	#page-message.ui.container.center.aligned.transition.hidden.save-message
		.ui.floating.message

	#page-edit.ui.container


append script
	+midLongJS('review')