extends mixins/layout

//- css
append head
  +midLongCss('year')

append buttons
  //- append buttons in the header
  include mixins/add-button

append content
  //- pop up deleteproject
  include mixins/sure-delete

  //- popup addproject
  include mixins/project-creation.pug

  include mixins/render-year.pug
  //- content
  //- page select
  #page-management.ui.container.pusher
    if data.length
      - let currentYear = 0
      each dataObj in data
        .year.ui.container
          if currentYear === dataObj.yearFrom
            +renderYear(dataObj)
          else
            - currentYear = dataObj.yearFrom
            h1.yearFrom.header= dataObj.yearFrom
            +renderYear(dataObj)
    else
      .ui.center.aligned.container
        div 請點擊右上角新增來新增專案

append script
  +midLongJS('year')