extends mixins/layout

//- css
append head
  +midLongCss('year')

append buttons
  //- append buttons in the header
  include mixins/_addbutton

append content
  //- pop up deleteproject
  include mixins/_suredelete

  //- popup addproject
  include mixins/_projectcreation.pug

  include mixins/_renderyear.pug
  //- content
  //- page select
  #page-management.ui.container.pusher
    if data.length
      - let currentYear = 0
      each dataObj in data
        - console.log(data)
        .year.ui.container
          if currentYear === dataObj.yearFrom
            +renderYear(dataObj)
          else
            - currentYear = dataObj.yearFrom
            h1.yearFrom.header= dataObj.yearFrom
    else
      .ui.center.aligned.container
        div 請點擊右上角新增來新增專案

append script
  +midLongJS('year')