extends ../../layout

append head
  link(rel='stylesheet', href='/static/stylesheets/manage.css')

append content
  //- header
  section#header.ui.top.fixed.menu.header
    .title
      include ../mixins/_breadcrumb.pug
    .right.menu
      block buttons
      a.logout.ui.item(href=`/auth/logout`) 登出

append footer
  //- footer
  .ui.vertical.footer.segment
    p v1.0.0
append script