@import 'component/style';
@import 'component/manage';

.add-content {
  position: fixed;
  right: 2%;
  bottom: 12%;
  width: 40px !important;
  height: 40px !important;
  font-size: 40px !important;
}

.add-content:hover, #arrow:hover {
  cursor: pointer;
}

#arrow {
  width: 40px !important;
  height: 40px !important;
  font-size: 40px !important;
  position: fixed;
  right: 2%;
  bottom: 5%;
}
