.breadcrumb {
    margin-top: 1rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
    line-height: 80%;
}

.ui.button {
    font-size: 1rem;
}

.ui.modal > .close {
    padding-top: 0;
}

.modal .button{
    width: 20%;
}

.pusher {
    margin-top: 10rem;
    margin-bottom: 1rem;
}

.segment h3 {
    font-size: 1.7rem;
}
.segment p{
    font-size: 1.1rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}

.save-message {
    z-index: 101;
    position: fixed;
    bottom: 5rem;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
}

.add-content {
    text-align: center;
}

.choice {
    padding-top: 0.1rem;
}

.choice-block {
    padding-top: 1rem;
}