.breadcrumb {
    margin-top: 1rem;
    margin-left: 3rem;
    margin-bottom: 1rem;
}

.ui.button {
    font-size: 1rem;
}

.ui.modal > .close {
    padding-top: 0;
}

.modal .button{
    width: 20%;
}

.pusher {
    margin-top: 10rem;
    margin-bottom: 1rem;
}

.segment h3 {
    font-size: 1.7rem;
}
.segment p{
    font-size: 1.1rem;
}

.add-content {
    text-align: center;
}

.choice {
    padding-top: 0.1rem;
}