.myhide {
    display: none;
}

h1:first-child {
    margin-top: 0.5rem;
    margin-left: 3rem;
}

.ui.button {
    font-size: 1.5rem;
}

.ui.modal > .close {
    padding-top: 0;
}

.modal .button{
    width: 20%;
}

.pusher {
    margin-top: 10rem;
}

.segment p{
    font-size: 1.25rem;
}