
.label {
  font: 30px sans-serif;
  text-anchor: end;
}

.bar:hover {
  fill: brown;
}

.title {
  font: bold 40px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.axis {
  font: 25px sans-serif;
}

.tick line {
  visibility: hidden;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

svg {
  overflow: visible!important;
  overflow-x: scroll!important;
  margin: auto;
}

.page-svg {
  overflow-x: scroll
}

g {
  width: 100%;
}

@media screen and (max-width: 425px){
  .axis {
    font: 15px sans-serif;
    text-anchor: end;
  }

}

@media screen and (max-width: 769px) and (min-width: 426px){
  .axis {
    font: 20px sans-serif;
    text-anchor: end;
  }

}

@media screen and (max-width: 1024px) and (min-width: 770px){
  .axis {
    font: 25px sans-serif;
    text-anchor: end;
  }

}
