
.bar {
  fill: steelblue;
}

.label {
  font: 30px sans-serif;
  text-anchor: end;
}

.bar:hover {
  fill: brown;
}

.title {
  font: bold 40px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.axis {
  font: 30px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

svg {
  overflow: auto!important;

}

g {
  width: 100%;
}

@media screen and (max-width: 425px){
  .axis {
    font: 15px sans-serif;
    text-anchor: end;
  }

}