
.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.title {
  font: bold 30px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.axis {
  font: 12px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

svg {
  max-width: 90%;
  width: inherit;
}

g {
  width: 100%;
}