extends component/layout


//- css
append head
  link(rel='stylesheet', href='/auth/static/stylesheets/box.css')

append content
  #type-select.ui.middle.aligned.center.aligned.grid.container.pusher
    .two.column.row
      .column
        a.blue.square-box(href=`/mid-long-term/index`) 中長程計畫
      .column
        a.blue.square-box(href=`/shortTerm/index`) 短程計畫(詳版)
