include _objects.pug
mixin newEdit()
	form.ui.form.segment
		.three.fields
			.field
				label 構面
				select.ui.selection.dropdown
					each val, index in layout
						if index != '年度' && index != '學校' && index != '類型'
							option(value=index)=index
			.field
				label 項目
				select.ui.selection.dropdown(disabled)
			.field
				label 詳細資料
				select.ui.selection.dropdown(disabled)        
		.field
			label 內容
				textarea(name="", rows="5")