mixin manage(info)
  .ui.segment.center.aligned.grid
      h3.sixteen.wide.column=info['name']
      p.four.wide.column=info['year']
      p.four.wide.column=info['campus']
      p.four.wide.column=info['type']
      .right.aligned
        button.ui.button.two.wide.column.edit edit
        button.ui.button.two.wide.column.delete delete
