extends component/layout
include mixins/_manage.pug

//- append buttons in the header
append buttons
  button.add.ui.blue.right.floated.button.add 新增
  button.logout.ui.blue.right.floated.button 登出

append content
  //- content
  //- page management
  #page-management.ui.container
    for val in info
      +manage(val)

append script
  script(src='/static/javascripts/manage/manage.js')