extends component/layout
include mixins/_select.pug

//- append buttons in the header
append buttons
  button.add.ui.blue.right.floated.button.add 新增
  button.logout.ui.blue.right.floated.button 登出

append content
  //- content
  //- page select
  #page-select.ui.container.pusher
    for val in contents
      +showSelectButton(val)

append buttons

append script
  script(src='/static/javascripts/manage/select.js')