mixin filter(...items)
  .field
    label 構面
    select.filter.filter__dimension.ui.selection.dropdown
      each item, index in items
        -if(item==='全部')
            option(value=`All`)= item
        -else
            option(value=`${index}`)= item
  .field
    label 推動重點
    select.filter.filter__item.ui.selection.dropdown
  .field
    label 具體作法
    select.filter.filter__detail.ui.selection.dropdown
