mixin manage(info)
  .ui.segment.center.aligned.grid
      p.eight.wide.column.manage__school=info
      .three.wide.column
        button.ui.button.edit 編輯
      .three.wide.column
        button.ui.button.two.wide.column.delete 刪除
