//- .ui.container
//-   form#addForm.ui.form.modal(action=`/mid-long-term/0/0/0/file/add`, method='POST')
//-     h4.header 新增計畫
//-     .content.field
//-       .two.fields
//-         .field
//-           label(for='yearFrom') 年份起點(民國年)
//-           input.yearFrom(type='number', min='0', max='300', step='1', value='107', name='yearFrom', required)
//-         .field
//-           label(for='yearTo') 年份終點(民國年)
//-           input.yearTo(type='number', min='0', max='300', step='1', value='108', name='yearTo', required)
//-       label(for='type') 學校類型
//-       select.type-dropdown.ui.selection.dropdown(type='text', placeholder='選擇學校類型', name='type', required)
//-         option(value='0') 大學
//-         option(value='1') 技專院校
//-       label(for='campus') 學校
//-       select.campus-dropdown.ui.selection.dropdown(type='text', placeholder='Enter school Name', name='campus', required)

//-       .normal.ui.transition.hidden
//-         each val in GLOBAL['map']['0']
//-           option(value= val)=val
//-       .others.ui.transition.hidden
//-         each val in GLOBAL['map']['1']
//-           option(value= val)=val

    .actions
      button.ui.black.deny.button(type='button') 取消
      button#add-project.ui.positive.right.lacbeled.icon.button(type='submit') 新增