extends component/layout

append content
  //- popup delete content
  .ui.container
    #delete.ui.small.modal
      .header 確定要刪除嗎
      .content
        p 確定要刪除這筆資料嗎
      .actions
        button.ui.negative.button 取消
        button.ui.positive.button 刪除

  //- popup advice filter
  .ui.container
    #advice.ui.small.modal
      .ui.form.segment.filter
        .three.fields
          .field
            label 構面
            select.filter.filter__dimension.ui.selection.dropdown
              option(value='教學') 教學
              option(value='研究') 研究
              option(value='產學') 產學
              option(value='社會責任') 社會責任
              option(value='大學治理及公共性') 大學治理及公共性
          .field
            label 推動重點
            select.filter.filter__item.ui.selection.dropdown
          .field
            label 具體作法
            select.filter.filter__detail.ui.selection.dropdown

  //- content
  //- page edit
  #page-message.ui.container.center.aligned.transition.hidden.save-message
    .ui.floating.message

  #page-filter.ui.container.pusher
    .ui.form.segment.filter
      .four.fields
        .field
          label 構面
          select.filter.filter__dimension.ui.selection.dropdown
            option(value='教學') 教學
            option(value='研究') 研究
            option(value='產學') 產學
            option(value='社會責任') 社會責任
            option(value='大學治理及公共性') 大學治理及公共性
        .field
          label 推動重點
          select.filter.filter__item.ui.selection.dropdown
        .field
          label 具體作法
          select.filter.filter__detail.ui.selection.dropdown
        .field
          .ui.container.center.aligned.choice-block
            button.ui.button.filter.filter__choice 選擇
    .reserved.ui.transition.hidden
      if GLOBAL['aspect']
        .reserved__dimension=GLOBAL['aspect']
        .reserved__item=GLOBAL['keypoint']
        .reserved__detail=GLOBAL['method']

  #page-edit.ui.container
    form.ui.form.segment.editNode
      .fields
        .four.wide.field
          .fields
            .eight.wide.field
              label 開始頁
              input.page__start(type='number' value='1')
            .eight.wide.field
              label 結束頁
              input.page__end(type='number' value='1')
        .nine.wide.field
          .fields
            .ten.wide.field
              .ui.container.center.aligned.choice-block.fields
                .eight.wide.field.big.ui.input.checkbox.error
                  input(type='checkbox')
                  label 尚未審查
                .eight.wide.field.big.ui.input.checkbox.success
                  input(type='checkbox' value='儲存')
                  label 已經由誰誰誰審查
            .three.wide.field
              .ui.container.center.aligned.choice-block
                button.ui.button 更改
            .three.wide.field
              .ui.container.center.aligned.choice-block
                button.ui.button 提交
        .two.wide.field
          .ui.container.center.aligned.choice-block
            button.ui.button.save(type='submit') 儲存
        .two.wide.field
          .ui.container.center.aligned.choice-block
            button.ui.button.delete(type='submit') 刪除
      .fields
        .four.wide.field
          label 大標題
          input.title
        .four.wide.field
          label 中標題
          input.title
        .four.wide.field
          label 小標題
          input.title
        .four.wide.field
          label 最小標題
          input.title
      .field
        label 內容
        textarea.content(name="", rows="5")
      .field
        label 摘要
        textarea.summary(name="", rows="2")
      input.node-index(type='hidden' value=GLOBAL['index'])

  #footer.ui.container.center.aligned.transition.hidden
    .ui.floating.message.transition.hidden
      p 尚未新增任何資料
    button.add-content.ui.blue.button 新增

append script
  script(src='/mid-long-term/static/javascripts/schema.js')
  script(src='/mid-long-term/static/javascripts/manage/edit.js')