extends component/layout

//- css
append head
  link(rel='stylesheet', href='/mid-long-term/static/stylesheets/box.css')

//- append buttons in the header
append buttons
  a.add.ui.item 新增

append content
  //- popup addproject
  include mixins/_projectCreation.pug

  //- content
  //- page select
  #type-select.ui.middle.aligned.center.aligned.grid.container.pusher
    .two.column.row
      .columna
        a.blue.square-box(href=`/mid-long-term/${GLOBAL.id}/review`) 審核
      for val in GLOBAL['types']
        .column
          a.blue.square-box(href=`/mid-long-term/${val.id}/index`)=val.name

append buttons

append script
  script(src='/mid-long-term/static/javascripts/manage/type.js')