extends mixins/layout

append head
  +shortCss('editwithfilter')

append content
  include mixins/sure-delete

  //- content
  //- page edit
  #page-message.ui.container.center.aligned.transition.hidden.save-message
    .ui.floating.message

  #page-filter.ui.container.pusher
    .ui.form.segment.filter
      .four.fields
        include mixins/filter-three-field
        +filter('教學','研究','產學','社會責任','大學治理及公共性','不具體','未分類')
        .field
          .ui.container.center.aligned.choice-block
            button.ui.button.filter.filter__choice 選擇

  #page-edit.ui.container
    include mixins/filter

  #footer.ui.container.center.aligned.transition.hidden
    .ui.floating.message.transition.hidden
      p 尚未新增任何資料
    button.add-content.ui.blue.button 新增

append script
  +shortJS('edit')