extends mixins/layout

//- css
append head
  +shortCss('type')

append buttons
  //- append buttons in the header
  include mixins/add-button

append content
  //- popup addproject
  include mixins/project-creation.pug

  #type-select.ui.middle.aligned.center.aligned.grid.container.pusher
    .two.column.row
      for val in types
        .column
          a.blue.square-box(href=`${GLOBAL.config.server.host}/short-term/${year}/${val.id}/index`)=val.name

append script
  +shortJS('type')