extends mixins/layout

//- css
append head
  +shortCss('year')

append buttons
  //- append buttons in the header
  include mixins/add-button

append content
  //- pop up deleteproject
  include mixins/sure-delete

  //- popup addproject
  include mixins/project-creation.pug

  include mixins/render-year.pug
  //- content
  //- page select
  //- #page-management.ui.middle.aligned.center.aligned.grid.container.pusher
  #page-management.ui.grid.container.pusher
    for val in years
      +renderYear(val)

append script
  +shortJS('year')